@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ubuntu";
  src: url("/fonts/ubuntu.regular.ttf");
}

body {
  overflow-x: hidden;
  background-color: #f4f2f5;
}

p,
li {
  font-family: "ubuntu";
}
